.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1000;
  background-color: rgba(147, 124, 111, 0.7);
  .mini-map-container {
    width: 50%;
    height: 65vh;
    margin: 0 auto;
    position: relative;
    margin-top: 20vh;
    .mini-map-box {
      width: 100%;
      height: 100%;
    }
    button {
      height: 50px;
      width: 50px;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 999;
      border-radius: 50px;
      outline: none;
      background-color: #4969da;
      font-size: 30px;
      &:hover {
        background-color: #1641dc;
      }
    }
  }
  .modal-form {
    width: 50%;
    min-height: 65vh;
    padding: 2% 3%;
    margin: 0 auto;
    margin-top: 20vh;
    background-color: rgb(226, 217, 212);
    border-radius: 10px;
    box-shadow: 2px 2px 10px 3px rgba(198, 173, 159, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .kind-box {
      width: 70%;
      height: 8vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      input[type='radio'] {
        width: 0;
        height: 0;
        position: absolute;
        left: -9999px;
      }
      input[type='radio'] + label {
        cursor: pointer;
        background-size: 100% 100%;
      }
      input[type='radio']:checked + label {
        &.boong-label {
          width: 85px;
          height: 65px;
        }
        &.ho-label {
          width: 70px;
          height: 70px;
        }
        &.ta-label {
          width: 65px;
          height: 65px;
        }
      }
      .boong-label {
        background-image: url('https://media.vlpt.us/images/dolarge/post/9df7aa9c-5827-4928-8711-25763612cc5f/%EB%B6%95%EC%96%B4.png');
        width: 65px;
        height: 45px;
      }
      .ho-label {
        background-image: url('https://media.vlpt.us/images/dolarge/post/18a0d072-1987-44e6-a8dc-74fb5d40a337/%ED%98%B8%EB%96%A1.png');
        width: 50px;
        height: 50px;
      }
      .ta-label {
        background-image: url('https://media.vlpt.us/images/dolarge/post/9afdecdf-2a14-4079-9c06-487d657c6c7e/%ED%83%80%EC%BD%94.png');
        width: 45px;
        height: 45px;
      }
    }
    .input-box {
      width: 40%;
      margin-top: 2vh;
      div {
        margin: 1vh 0;
      }
      input {
        width: 100%;
      }
      .input-box_location {
        margin: 2vh 0;
        .button-box_location {
          display: flex;
          justify-content: space-between;
          button {
            width: 45%;
            padding: 1vh 0;
            margin: 0;
            background-color: #988989;
            &:hover {
              background-color: #635959;
            }
          }
        }
      }
      .input-box_time {
        .time {
          width: 100%;
        }
        .ant-picker-focused .ant-picker-active-bar {
          display: none;
        }
      }
      label {
        width: 100%;
        display: block;
        font-size: 1.1rem;
        font-weight: 500;
      }
      input {
        border: none;
        border-bottom: 1px solid #8c7c65;
        background: none;
        padding: 7px 10px;
        outline: none;
      }
    }
    .button-box {
      width: 40%;
      margin-top: 3vh;
      display: flex;
      justify-content: space-around;
      button {
        padding: 4%;
        margin-top: 0;
      }
    }
  }
}
