.icon {
  background-size: 100% 100%;
}

.boong {
  height: 170px;
  width: 220px;
  background-image: url('https://media.vlpt.us/images/dolarge/post/9df7aa9c-5827-4928-8711-25763612cc5f/%EB%B6%95%EC%96%B4.png');
  background-size: cover;
  background-position: center center;
  will-change: transform;
}

.ho {
  height: 200px;
  width: 200px;
  background-image: url('https://media.vlpt.us/images/dolarge/post/18a0d072-1987-44e6-a8dc-74fb5d40a337/%ED%98%B8%EB%96%A1.png');
  position: relative;
  img {
    display: block;
    position: absolute;
    top: -20%;
    left: 35%;
  }
}

.ta {
  background-image: url('https://media.vlpt.us/images/dolarge/post/9afdecdf-2a14-4079-9c06-487d657c6c7e/%ED%83%80%EC%BD%94.png');
  position: absolute;
  box-sizing: border-box;
  height: 200px;
  width: 200px;
}

.roll {
  animation-duration: 2s;
  animation-name: taMove;
}

.fall {
  img {
    animation-duration: 3s;
    animation-name: hoSmoke;
  }
}

@keyframes taMove {
  0% {
    transform: rotate(0deg);
    margin-left: 0;
  }
  50% {
    transform: rotate(360deg);
    margin-left: 1000px;
  }
  100% {
    margin-left: 0;
    transform: rotate(0deg);
  }
}

@keyframes hoSmoke {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 80%;
    top: -30%;
  }
  40% {
    opacity: 40%;
    top: -20%;
  }
  60% {
    opacity: 80%;
    top: -30%;
  }
  80% {
    opacity: 40%;
    top: -20%;
  }
  100% {
    opacity: 0;
  }
}
