.modal-container {
  position: fixed;
  .mini-map-container {
    width: 50%;
    height: 65vh;
    margin: 0 auto;
    position: relative;
    margin-top: 20vh;
    .mini-map-box {
      width: 100%;
      height: 100%;
    }
    button {
      height: 50px;
      width: 50px;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 999;
      border-radius: 50px;
      outline: none;
      background-color: #4969da;
      font-size: 30px;
      &:hover {
        background-color: #1641dc;
      }
    }
  }
}
